<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>maxSize</param-name>
		<param-value>5242880</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>fileSystemServiceImpl</servlet-name>
		<servlet-class>org.kevoree.nginx.server.FileSystemServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>downloadServlet</servlet-name>
		<servlet-class>org.kevoree.nginx.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>propertiesServiceImpl</servlet-name>
		<servlet-class>org.kevoree.nginx.server.PropertiesServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileSystemServiceImpl</servlet-name>
		<url-pattern>/gwtnginxeditor/fs</url-pattern> <!-- GWT looking for filemanager/filemanager/fs ? -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>downloadServlet</servlet-name> <!-- looking for the root context for downloads? -->
		<url-pattern>/dn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>propertiesServiceImpl</servlet-name> <!-- looking for the root context for downloads? -->
		<url-pattern>/gwtnginxeditor/prop</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>			
		</web-resource-collection>

		<auth-constraint>
			<role-name>nginxuser</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GWTNginxeditor.html</welcome-file>
	</welcome-file-list>

</web-app>